# Data Cleaning

In deze notebook gaan we werken met een dataset die de gebeurtenissen tijdens een reeks wedstrijden over een periode van 4 jaar.
De link naar deze dataset is: https://www.kaggle.com/secareanualin/football-events.
Met deze kan je reeds heel wat informatie vinden over wat er in deze dataset zit. 
In de dataset zitten er drie files:
* events.csv Bevat data over de gebeurtenissen van elke wedstrijd.
* ginf.csv - Bevat metadata en win-kansen van elke wedstrijd.
* dictionary.txt Bevat een tekstuele weergave van de verschillende categorieen

Hieronder staan alle imports die gebruikt worden in de loop van de notebook.

In [1]:
# aantal imports
import opendatasets as od
import pandas as pd
import numpy as np

In [ ]:
!pip install {ontbrekende package}
# uitroepingsteken om het in terminal uit te voeren
# als je het rechtstreeks in een cli doet, dan is dit uitroepingsteken niet nodig

## Inladen dataset

De eerste stap is om de dataset te downloaden vanuit kaggle met de opendatasets library.
Aangezien de dataset meerdere bestanden bevat kan het zijn dat het wordt gedownload als zip (controleer dit). 
Unzip daarom eerst het bestand indien nodig.
Laad daarna de twee csv bestanden in in een dataframe.
De code voor deze stappen is:

In [2]:
od.download("https://www.kaggle.com/secareanualin/football-events")

# hiervoor gebruik je een api key van kaggle
# die kan je aanmaken door in kaggle in te loggen, te gaan naar settings
# daar heb je een knopje om een api key te maken

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username:Your Kaggle Key:Your Kaggle Key:Downloading football-events.zip to .\football-events

100%|██████████| 21.1M/21.1M [00:01<00:00, 16.3MB/s]

In [3]:
df_events = pd.read_csv("./football-events/events.csv")
df_ginf = pd.read_csv("./football-events/ginf.csv")

## Exploratory Data Analysis

De read_csv functie heeft een dataframe aangemaakt en alle data van de csv ingeladen in dit object.
Pandas voorziet daarnaast een aantal eenvoudige methodes om heel wat informatie uit de dataset op te halen.
Een overzicht van alle functies die mogelijk zijn met dataframes vind je hier: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html.
We kunnen bijvoorbeeld eenvoudig het aantal rijen gaan opvragen maar ook een aantal rijen gaan bekijken. 
Dit kan bijvoorbeeld met de volgende code:

In [12]:
df_events.head()    # wordt niet meer getoond als er nog lijnen volgen
#display(df_events.head())       # wordt wel getoond door de display
df_ginf.tail()

df_events.sample(7)     # 7 willekeurige rijen uit het dataframe
#df_events.info()        # overzichtje van de data in het dataframe
df_events.describe()    # statistisch overzichtje van de NUMERIEKE kolommen van het dataframe

df_ginf.ht              # selecteert 1 kolom uit een dataframe
df_ginf.ht.nunique()    # aantal unieke teams in een kolom
df_ginf.ht.unique()     # de unieke teams

array(['Borussia Dortmund', 'FC Augsburg', 'Werder Bremen',
       'Paris Saint-Germain', 'Caen', 'Hertha Berlin', 'Brest',
       'AC Ajaccio', 'Nice', 'FC Cologne', 'AS Nancy Lorraine',
       'Montpellier', 'VfB Stuttgart', 'Hannover 96', 'Marseille',
       'Bordeaux', 'Dijon FCO', 'Mainz', 'Bayern Munich', 'Fulham',
       'Newcastle', 'QPR', 'Sochaux', 'Schalke 04', 'Lyon',
       'TSG Hoffenheim', 'Wigan', 'St Etienne', 'Nurnberg', 'SC Freiburg',
       'Liverpool', 'Lorient', 'Blackburn', 'Hamburg SV',
       'Borussia Monchengladbach', 'Stade Rennes', 'Valenciennes',
       'Toulouse', 'VfL Wolfsburg', 'Lille', 'West Brom', 'AJ Auxerre',
       'Evian Thonon Gaillard', 'Bayer Leverkusen', 'Kaiserslautern',
       'Stoke City', 'Manchester City', 'Chelsea', 'Arsenal',
       'Aston Villa', 'Swansea', 'Everton', 'Sunderland', 'Wolves',
       'Norwich City', 'Bolton', 'Manchester Utd', 'Sporting Gijon',
       'Valencia', 'Granada', 'Real Zaragoza', 'Tottenham', 'Sevilla',
       'Athletic Bilbao', 'Getafe', 'Atletico Madrid', 'Mallorca',
       'Barcelona', 'AC Milan', 'Real Madrid', 'Villarreal',
       'Real Sociedad', 'Cesena', 'Osasuna', 'Palermo', 'Espanyol',
       'Chievo Verona', 'Racing Santander', 'Juventus', 'Real Betis',
       'Lecce', 'Rayo Vallecano', 'Catania', 'AS Roma', 'Fiorentina',
       'Genoa', 'Malaga', 'Internazionale', 'Cagliari', 'Bologna',
       'Udinese', 'Parma', 'Napoli', 'Atalanta', 'Lazio', 'Siena',
       'Levante', 'Novara', 'Troyes', 'Stade de Reims', 'Reading',
       'Celta Vigo', 'West Ham', 'Bastia', 'Deportivo La Coruna',
       'SpVgg Greuther Furth', 'Southampton', 'Eintracht Frankfurt',
       'US Pescara', 'Real Valladolid', 'Fortuna Dusseldorf', 'Torino',
       'Sampdoria', 'TSV Eintracht Braunschweig', 'Guingamp', 'AS Monaco',
       'Crystal Palace', 'Almeria', 'Elche', 'Hull', 'Hellas Verona',
       'Nantes', 'Cardiff', 'Livorno', 'Sassuolo', 'Lens', 'Metz',
       'Leicester City', 'Burnley', 'SC Paderborn', 'Eibar', 'Cordoba',
       'Empoli', 'Bournemouth', 'SV Darmstadt 98', 'Watford', 'Angers',
       'GFC Ajaccio', 'Frosinone', 'FC Ingolstadt 04', 'Carpi',
       'Las Palmas', 'Middlesbrough', 'Leganes', 'Alaves', 'Crotone',
       'RB Leipzig'], dtype=object)

Probeer nu zelf de volgende zaken op te zoeken:
* Haal willekeurig 2 rijen uit de dataset
* Alle spelers die betrokken zijn geweest bij een event (geen duplicaten)
* Hoeveel goalen zijn er gemaakt in de geregistreerde events? Dit kan aan de hand van de is_goal kolom.
* Bestudeer de inhoud van het ginf dataset, besteed vooral aandacht aan de ontbrekende data
* Voeg aan het ginf dataframe twee kolommen toe, 1 voor het aantal events van de thuisploeg en 1 voor het aantal events van de andere ploeg.

In [13]:
df_events.sample(2)

,id_odsp,id_event,sort_order,time,text,event_type,event_type2,side,event_team,opponent,...,player_in,player_out,shot_place,shot_outcome,is_goal,location,bodypart,assist_method,situation,fast_break
601190,dSJ07A0s/,dSJ07A0s20,20,24,Marco Verratti (Paris Saint Germain) wins a fr...,8,NaN,2,Paris Saint-Germain,AS Monaco,...,NaN,NaN,NaN,NaN,0,2.0,NaN,0,NaN,0
190579,buzgfQhB/,buzgfQhB10,10,13,Massimo Ambrosini (Milan) wins a free kick in ...,8,NaN,1,AC Milan,Chievo Verona,...,NaN,NaN,NaN,NaN,0,2.0,NaN,0,NaN,0

In [16]:
df_events.player.unique() # krijg je een lijst
df_events.groupby("player").size()      # aantal keer dat elke speler voorkomt

player
aara³n                  2
aaron                 146
aaron cresswell       243
aaron hughes           21
aaron hunt            583
                     ...
zouhaier dhaouadhi     11
zouhaier dhaouadi       2
zouhair feddal        187
zoumana camara         92
zubi                    1
Length: 6118, dtype: int64

In [17]:
df_events.is_goal.sum()

24446

In [18]:
df_ginf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10112 entries, 0 to 10111
Data columns (total 18 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id_odsp    10112 non-null  object
 1   link_odsp  10112 non-null  object
 2   adv_stats  10112 non-null  bool
 3   date       10112 non-null  object
 4   league     10112 non-null  object
 5   season     10112 non-null  int64
 6   country    10112 non-null  object
 7   ht         10112 non-null  object
 8   at         10112 non-null  object
 9   fthg       10112 non-null  int64
 10  ftag       10112 non-null  int64
 11  odd_h      10112 non-null  float64
 12  odd_d      10112 non-null  float64
 13  odd_a      10112 non-null  float64
 14  odd_over   977 non-null    float64
 15  odd_under  977 non-null    float64
 16  odd_bts    977 non-null    float64
 17  odd_bts_n  977 non-null    float64
dtypes: bool(1), float64(7), int64(3), object(7)
memory usage: 1.3+ MB

In [36]:
# events te tellen voor thuis en bezoekende ploeg
event_counts = df_events.groupby(["id_odsp", "side"]).size().reset_index("side")

# events thuisploeg
tmp = event_counts[event_counts.side == 1] # filter er enkel de events van de thuisploeg uit
tmp.columns = ["side", "events_home"]       # met .columns krijg je een lijstje met kolomnamen
event_counts_home = tmp.iloc[:, -1]         # verwijder de side kolom, iloc is indexatie op basis van de index/getal van de kolom of rij

# events bezoekende ploeg
tmp = event_counts[event_counts.side == 2] # filter er enkel de events van de thuisploeg uit
tmp.columns = ["side", "events_away"]       # met .columns krijg je een lijstje met kolomnamen
event_counts_away = tmp.iloc[:, -1]         # verwijder de side kolom, iloc is indexatie op basis van de index/getal van de kolom of rij

# plak de twee nieuwe dataframes aan het df_ginf dataframe
#df_ginf = df_ginf.set_index("id_odsp")      # df_ginf had een getal als index en niet de id_odsp, hierdoor lukt de join niet
# met set_index zetten we het match_id als index ipv het getalletje
# let op dat je dit maar 1 keer doet
df_ginf2 = df_ginf.join(event_counts_home)
df_ginf2.join(event_counts_away)

,link_odsp,adv_stats,date,league,season,country,ht,at,fthg,ftag,odd_h,odd_d,odd_a,odd_over,odd_under,odd_bts,odd_bts_n,events_home,events_away
id_odsp,,,,,,,,,,,,,,,,,,,
UFot0hit/,/soccer/germany/bundesliga-2011-2012/dortmund-...,True,2011-08-05,D1,2012,germany,Borussia Dortmund,Hamburg SV,3,1,1.56,4.41,7.42,NaN,NaN,NaN,NaN,56.0,54.0
Aw5DflLH/,/soccer/germany/bundesliga-2011-2012/augsburg-...,True,2011-08-06,D1,2012,germany,FC Augsburg,SC Freiburg,2,2,2.36,3.60,3.40,NaN,NaN,NaN,NaN,61.0,61.0
bkjpaC6n/,/soccer/germany/bundesliga-2011-2012/werder-br...,True,2011-08-06,D1,2012,germany,Werder Bremen,Kaiserslautern,2,0,1.83,4.20,4.80,NaN,NaN,NaN,NaN,72.0,65.0
CzPV312a/,/soccer/france/ligue-1-2011-2012/paris-sg-lori...,True,2011-08-06,F1,2012,france,Paris Saint-Germain,Lorient,0,1,1.55,4.50,9.40,NaN,NaN,NaN,NaN,58.0,56.0
GUOdmtII/,/soccer/france/ligue-1-2011-2012/caen-valencie...,True,2011-08-06,F1,2012,france,Caen,Valenciennes,1,0,2.50,3.40,3.45,NaN,NaN,NaN,NaN,43.0,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
xAkY8l6R/,/soccer/italy/serie-a/genoa-crotone-xAkY8l6R/,True,2017-01-22,I1,2017,italy,Genoa,Crotone,2,2,1.97,4.35,8.00,1.95,2.03,2.03,1.86,52.0,50.0
xSU9scI9/,/soccer/england/premier-league/chelsea-hull-ci...,True,2017-01-22,E0,2017,england,Chelsea,Hull,2,0,1.19,8.50,20.00,1.54,2.68,2.40,1.66,44.0,45.0
xY7uZwOI/,/soccer/france/ligue-1/monaco-lorient-xY7uZwOI/,True,2017-01-22,F1,2017,france,AS Monaco,Lorient,4,0,1.32,6.24,11.50,1.53,3.08,1.80,2.25,44.0,36.0
YyeGxMX8/,/soccer/spain/laliga/betis-gijon-YyeGxMX8/,True,2017-01-22,SP1,2017,spain,Real Betis,Sporting Gijon,0,0,1.74,4.07,5.90,2.20,1.89,2.05,1.86,69.0,51.0
z5L2OT5E/,/soccer/italy/serie-a/atalanta-sampdoria-z5L2O...,True,2017-01-22,I1,2017,italy,Atalanta,Sampdoria,1,0,1.79,3.96,5.40,1.90,2.07,1.80,2.16,63.0,56.0

## Data Cleaning

### Ontbrekende data

In eerste instantie zijn er de volgende mogelijkheden om om te gaan met ontbrekende data (Null or Nan values)
* Negeren
* Verwijder rijen met null waarden
* Verwijder kolommen met null waarden
* Kies een waarde om de NaN waarden in te vullen
* Gebruik duplicaten om de waarde in te vullen

Je kan gebruik maken van de volgende functies:
* isna or notna om aan te geven welke elementen ontbrekende of ingevulde data bevatten 
* dropna drop columns or rows containing missing values  (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html)
* fillna fill in missing values https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html#pandas.DataFrame.fillna

Deze functies hebben de volgende resultaten

In [44]:
df_events_copy = df_events.copy() # kopie om niet steeds alles opnieuw te moeten doen na verwijderen data

df_events_copy.isna()       # true als het niet ingevuld is
df_events_copy[df_events_copy.event_type2.isna()]       # welke rijen van event_type2 zijn null
df_events_copy.event_type2.isna().sum()                 # aantal ontbrekende waarden

df_events_copy = df_events_copy.dropna()         # alle rijen met minstens 1 null waarde wordt verwijderd
df_events_copy.dropna(inplace=True)             # doet hetzelfde als de rij hierboven
df_ginf.dropna(axis=1)          # verwijder alle kolommen met minstens 1 null waarde

df_ginf.fillna("0").info()               # vul alle ontbrekende waarden in met null

<class 'pandas.core.frame.DataFrame'>
Index: 10112 entries, UFot0hit/ to z5L2OT5E/
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   link_odsp  10112 non-null  object
 1   adv_stats  10112 non-null  bool
 2   date       10112 non-null  object
 3   league     10112 non-null  object
 4   season     10112 non-null  int64
 5   country    10112 non-null  object
 6   ht         10112 non-null  object
 7   at         10112 non-null  object
 8   fthg       10112 non-null  int64
 9   ftag       10112 non-null  int64
 10  odd_h      10112 non-null  float64
 11  odd_d      10112 non-null  float64
 12  odd_a      10112 non-null  float64
 13  odd_over   10112 non-null  object
 14  odd_under  10112 non-null  object
 15  odd_bts    10112 non-null  object
 16  odd_bts_n  10112 non-null  object
dtypes: bool(1), float64(3), int64(3), object(10)
memory usage: 1.6+ MB

We zien dat de manier waarop we dropna uitvoeren een grote impact kan hebben op het resultaat.
In de eerste situatie bekomen we een lege dataset. Dit komt omdat er op elke rij minstens 1 kolom is die een Nan value bevat.

In het tweede voorbeeld, worden alle kolommen verwijderd die minstens 1 Nan value bevat. Op deze manier hebben we nog evenveel elementen maar het aantal kolommen is sterk gereduceerd. Door dit zonder controle te gebruiken kan veel nuttige informatie verwijderd worden. Merk op dat de 4 kolommen met de speler informatie verwijderd zijn. En ook de kolommen die meer informatie bevatten over het type event.

Het merendeel van de verwijderde kolommen bevatten dus nuttige informatie en willen we daarom niet verwijderen.
Om deze reden hebben we een meer manuele aanpak nodig.
De kolommen met informatie over het event (bvb shot_place) zijn nodig en mogen dus blijven staan. 
Nan geeft dan enkel weer dat de waarde niet van toepassing is.
De 4 kolommen met speler informatie kan echter gereduceerd worden tot twee kolommen (1 voor elk team) waarbij player2 niet altijd ingevuld moet zijn.
Dit kan bewezen worden als volgt:

In [53]:
nans = df_events.isnull()

nans.player
nans["player_in"]       # kolommen te selecteren

# exact 1 speler ingevuld is
nans["player"] ^ nans.player_in     # xor
# 0 spelers ingevuld
nans.player2 & nans.player_out      # and
# minstens 1 spelers ingevuld
nans.player | nans.player_in        # or
# negatie
~nans.player

0          True
1          True
2          True
3          True
4          True
          ...
941004     True
941005    False
941006     True
941007     True
941008     True
Name: player, Length: 941009, dtype: bool

Met bovenstaande resultaten zien we dat in bijna alle gevallen player ofwel player_in ingevuld is maar nooit allebei.
Dit houdt in dat we deze twee kolommen eenvoudig kunnen samenvoegen. 
Hetzelfde geldt voor de kolommen player2 en player_out.
Nog een belangrijke opmerking is dat er een aantal rijen zijn waar er geen informatie over spelers aanwezig is.
Deze rijen kunnen verwijderd worden.

Overbodige kolommen:
* text
* id_event (samenstelling van id_odsp en sort_order)

Dit doen we hier:

In [57]:
# vul de nans in de player kolom in met de waarden uit de player_in kolom
df_events_copy = df_events[nans["player"] ^ nans.player_in]     # 0 of 2 ingevuld zijn weg

# complexe functies kan je doen door zelf een functie te schrijven
# zelf een functie te schrijven die rij per rij werkt dan een for-lus
def get_player1_info(row):
    if row.isna().player:
        return row.player_in
    else:
        return row.player

#df_events_copy.apply(get_player1_info, axis=1)

# met gebruik van pandas functie
nans_player = df_events_copy.isnull().player
#df_events_copy.player[nans_player] = df_events_copy[nans_player].player_in
#df_events_copy.player.isnull().sum()

# om de warnings weg te krijgen
# loc om te filteren in een data frame, eerste is de rijen die je wil, tweede de kolommen
df_events_copy.loc[nans_player, "player"] = df_events_copy.loc[nans_player, "player_in"]
df_events_copy.player.isnull().sum()

0

Oefening: Zijn er na het mergen van deze twee kolommen nog gevallen waar player null is maar player2 niet? In het geval dat er nog zo rijen zijn, verplaats de waarde van de player2 kolom naar de player kolom (enkel voor deze rijen). Nadat dit gedaan is hebben we zoveel mogelijk gedaan en kunnen we de overige rijen waarvoor de player feature null is laten vallen.

### One hot encoding

In deze dataset wordt er vaak een enum gebruikt om een categorie aan te duiden. 
Dit is een compacte manier om een enum in een dataset op te slaan maar dit geeft vaak problemen bij het opbouwen van modellen.
Dit gaan we in meer detail bekijken bij classificatie/clustering.

Om dit op te lossen kunnen gebruik maken van one-hot encoding.
In pandas kan dat door gebruik te maken van de functie pd.get_dummies()

In [ ]:
!pip install -U scikit-learn

In [63]:
# pandas
pd.get_dummies(df_events.event_type, prefix="event", prefix_sep=";")

# met scikit learn
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()
encoder.fit_transform(df_events.event_type.values.reshape(-1, 1))   # values.reshape is om de 1d array om te zetten naar 2d

<941009x11 sparse matrix of type '<class 'numpy.float64'>'
	with 941009 stored elements in Compressed Sparse Row format>

In [67]:
# ordinal encoding
from sklearn.preprocessing import OrdinalEncoder    # voor als je 2d array hebt / meerdere kolommen
OrdinalEncoder().fit_transform(df_ginf.ht.values.reshape(-1, 1))

from sklearn.preprocessing import LabelEncoder      # als je 1 kolom hebt
LabelEncoder().fit_transform(df_ginf.ht)

array([ 22,  48, 142, ...,   3, 105,  11])

### Data Format Correcting

Buiten het verwijderen of toevoegen van kolommen kan het ook belangrijk zijn om de waarden van individuele elementen te corrigeren/aan te passen. 
Dit kan een heel aantal zaken omvatten zoals het corrigeren van typo's, omzetten van datatypes, etc.
Laten we eerst eens de One-Hot Encoded values omzetten van 0/1 naar true/false.

In [70]:
nans_player.astype('float')

0         0.0
1         0.0
2         0.0
3         0.0
4         0.0
         ...
941003    0.0
941004    0.0
941006    0.0
941007    0.0
941008    0.0
Name: player, Length: 931724, dtype: float64

Daarnaast moeten er ook vaak woorden in tekstuele velden gecorrigeerd of vertaald worden. 
Om hiervan een voorbeeld te geven ga ik in de player en player2 kolommen de naam van "Romelu Lukaku" hernoemen naar "Big Rom".
De volgende code voert dit uit door gebruik te maken van de [replace](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html) functie:

In [72]:
df_events.event_team.replace("Hamburg SV", "Big Rom")

0                   Big Rom
1         Borussia Dortmund
2         Borussia Dortmund
3         Borussia Dortmund
4                   Big Rom
                ...
941004            Sampdoria
941005            Sampdoria
941006            Sampdoria
941007             Atalanta
941008            Sampdoria
Name: event_team, Length: 941009, dtype: object

Een andere grote bron van data formaten dat aangepast moet worden komt voort uit kolommen die datums bevatten. Deze worden standaard ingelezen als een tekst veldje dus moet je deze zelf gaan omzetten. Dit kan je zien in de ginf dataset waar de "date" kolom van het type object is. Dit is in numpy de indicatie dat het een tekstveld is.

In de dataframe zien we dat de datums erin staan als "%Y-%m-%d" (jaar als 4 cijfers, rest als twee). 
Voor de notatie van andere dataformaten vind je [hier](http://strftime.org/) meer informatie.
Met behulp van de [to_datetime](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html) functie kan je deze kolom omzetten naar datums.
Zoek na deze omzetting eens het datatype op van deze kolom.
Je ziet dat het nu geen object meer is maar een correcte datum.

Merk op dat deze manier van aanpakken enkel werkt wanneer de hele tabel hetzelfde dataformaat heeft.
Indien er meerdere dataformaten gebruikt zijn (bijvoorbeeld door manuele input), dan kan je het nog steeds doen maar dan moet panda een inschatting maken van het gewenste formaat. Dit kan door het argument "infer_datetime_format=True".
Hoewel dit mogelijk is zijn er twee redenen waarom we dit niet altijd gebruiken, namelijk
* Het duurt veel langer om de tabel om te zetten.
* Het gaat niet altijd het correcte resultaat geven bij speciale formaten

Eenmaal de kolom van het type datetime is kan je heel gemakkelijk deze kolommen vergelijken en er zaken gaan uithalen zoals de maand waarin de wedstrijd plaatsvond.

In [75]:
tmp = pd.to_datetime(df_ginf.date, format="%Y-%m-%d")     # hoofdletter omdat de jaren volledig uitgeschreven zijn

tmp.dt.day_of_year

id_odsp
UFot0hit/    217
Aw5DflLH/    218
bkjpaC6n/    218
CzPV312a/    218
GUOdmtII/    218
            ...
xAkY8l6R/     22
xSU9scI9/     22
xY7uZwOI/     22
YyeGxMX8/     22
z5L2OT5E/     22
Name: date, Length: 10112, dtype: int64

### Data shuffling

Een mogelijke manier om de privacy van je klanten te beschermen die we aangehaald hebben is data shuffling.
Bij deze methode is het de bedoeling dat je de namen in een dataset op een willekeurige manier door elkaar haalt.
Dit kan gedaan worden door gebruik te maken van de permutation methode van numpy  (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html) op de volgende manier:

In [84]:
display(df_ginf.head())
df_ginf.sample(frac=1).head()

# bovenstaande code gaat de rijen volledig door elkaar gooien (ganse rijen verplaatsen)
df_ginf.ht = df_ginf["at"].sample(frac=1)
df_ginf.head()

,link_odsp,adv_stats,date,league,season,country,ht,at,fthg,ftag,odd_h,odd_d,odd_a,odd_over,odd_under,odd_bts,odd_bts_n
id_odsp,,,,,,,,,,,,,,,,,
UFot0hit/,/soccer/germany/bundesliga-2011-2012/dortmund-...,True,2011-08-05,D1,2012,germany,NaN,Hamburg SV,3,1,1.56,4.41,7.42,NaN,NaN,NaN,NaN
Aw5DflLH/,/soccer/germany/bundesliga-2011-2012/augsburg-...,True,2011-08-06,D1,2012,germany,NaN,SC Freiburg,2,2,2.36,3.60,3.40,NaN,NaN,NaN,NaN
bkjpaC6n/,/soccer/germany/bundesliga-2011-2012/werder-br...,True,2011-08-06,D1,2012,germany,NaN,Kaiserslautern,2,0,1.83,4.20,4.80,NaN,NaN,NaN,NaN
CzPV312a/,/soccer/france/ligue-1-2011-2012/paris-sg-lori...,True,2011-08-06,F1,2012,france,NaN,Lorient,0,1,1.55,4.50,9.40,NaN,NaN,NaN,NaN
GUOdmtII/,/soccer/france/ligue-1-2011-2012/caen-valencie...,True,2011-08-06,F1,2012,france,NaN,Valenciennes,1,0,2.50,3.40,3.45,NaN,NaN,NaN,NaN

,link_odsp,adv_stats,date,league,season,country,ht,at,fthg,ftag,odd_h,odd_d,odd_a,odd_over,odd_under,odd_bts,odd_bts_n
id_odsp,,,,,,,,,,,,,,,,,
UFot0hit/,/soccer/germany/bundesliga-2011-2012/dortmund-...,True,2011-08-05,D1,2012,germany,Hamburg SV,Hamburg SV,3,1,1.56,4.41,7.42,NaN,NaN,NaN,NaN
Aw5DflLH/,/soccer/germany/bundesliga-2011-2012/augsburg-...,True,2011-08-06,D1,2012,germany,SC Freiburg,SC Freiburg,2,2,2.36,3.60,3.40,NaN,NaN,NaN,NaN
bkjpaC6n/,/soccer/germany/bundesliga-2011-2012/werder-br...,True,2011-08-06,D1,2012,germany,Kaiserslautern,Kaiserslautern,2,0,1.83,4.20,4.80,NaN,NaN,NaN,NaN
CzPV312a/,/soccer/france/ligue-1-2011-2012/paris-sg-lori...,True,2011-08-06,F1,2012,france,Lorient,Lorient,0,1,1.55,4.50,9.40,NaN,NaN,NaN,NaN
GUOdmtII/,/soccer/france/ligue-1-2011-2012/caen-valencie...,True,2011-08-06,F1,2012,france,Valenciennes,Valenciennes,1,0,2.50,3.40,3.45,NaN,NaN,NaN,NaN

## Oefeningen

Om meer vertrouwd te worden met het werken met pandas kan je de volgende zaken zelf proberen.

Bewerkingen op de events.csv dataset:
* Controleer de kolommen "id_event", "id_odsp" en "sort_order". Is er 1 van deze drie overbodig? Verwijder de kolom indien dit zo is.
* Hernoem "Hamburg SV" naar "Hamburg FC". Let op, doe dit voor alle kolommen waar het kan staan.

Bewerkingen op de ginf.csv dataset:
* Maak One Hot Encoding voor de kolom "Country"
* Voeg een kolom toe die drie waarden kan hebben: Home team wins, Home team loses, draw
* Maak nu ook een One Hot Encoding voor deze nieuwe kolom
* Drop de kolom met de urls voor de ploegen
* Bewaar je aangepaste dataset in "wedstrijden.csv" (Gebruik de functie to_save: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html)

## Oefening 2

Gebruik de dataset die je kan vinden op [deze link](https://gist.githubusercontent.com/deanjamesss/f8f5781fb682fb728e9674dda9813982/raw/801df9e7b9af894af1f69ba1a40af909160891aa/employee_data.csv).
Deze dataset bevat informatie over de personeelslijst van een bedrijf.
Voer de volgende stappen/oefeningen/bewerkingen uit:
* Bekijk de datatypes van de verschillende kolommen. Is alles zoals je verwacht?
* Bereken het aantal nulwaarden per kolom.
* Verwijder de kolom met de gegevens over het belastingsnummer. Verliezen we hiermee data?
* Verwijder alle rijen die meer dan 2 ontbrekende gegevens bevatten. Hoeveel rijen blijven er over?
* Geef een dataframe met de lijsten verwijderd in de vorige stap.
* Vul in de kolommen voor het geslacht en employment_status ontbrekende waarden in met een U van unknown.
* Om de geslacht kolom leesbaarder te maken, vervang M door male, F door female en U door unknown.
* Voeg een one-hot encoding voor de kolom van de employment_status toe. Verwijder ook de originele kolom.
* Bewaar het bewerkte csv in een bestand